body{
   margin:0;
   padding:0;
   font-family: Arial, Helvetica, sans-serif; 
}

.container{ 
    display:flex;
    flex-direction: column;
    padding: 0px 0px;
    box-sizing: border-box;
}
#header{
     text-align: center; 
    min-height: 440px;
    border: 1px solid transparent; 
    width:100%;
    
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7em;

}
#header #bg {
    position: absolute;
    background: #333 url("./images/img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 440px;
    z-index: -1;
    opacity: 0.7;
}
#text{
    font-size: 18px;
}
.try{ 
    text-align: center;
    padding-top: 80px;
}
h1{
    
    font-weight: bold;
}
#header a{
    color:black;
    text-decoration: none;
    border: 1px solid #666;
    padding: 14px 14px;
    font-size: 18px;
}
#header a:hover{
    color:black;
    background-color: white;
    border: 1px solid transparent ;
}
h2 {
    display: block;
    color: #333333;
    text-align: center;
    text-transform: capitalize;
    text-emphasis: wrap;
    margin: 0;
    padding-top: 30px;
}
#section1{
    font-size:1.4em;
    height:230px;
    text-align: center;
    background: #eaeaea;
}
.text{
    display:flex;
    flex-direction:row;
    margin:0px 100px;
    text-align: left;
}
.ab{
    padding:20px 30px;
}
#section2Text{
     background-color: #333; 
     width: 100vw;
}
.card{
    /* padding-left: 20px;
    padding-right: 30px; */
    border: 1px solid black ;
    height:350px;
    background:white;
    padding-bottom: 70px;
    justify-items: center;
    font-size: 1.1em;
    width:30%;
    margin:40px 10px 40px 10px;

}
.pic-container{
    padding:0;
    margin:0;
}
.content{
    padding: 0 20px;
}
.image{
    width:100%;
    height:auto;
}
#cardholder{
    background-color: #333;
    display:flex;
    width:70vw;
    flex-direction: row;
    justify-content: center;
    color:black;
    height:500px;
    margin-left: 180px;
}
#section3Text{
    text-align: center;
    font-size: 1.5em;
}
#section4{
    width:100vw;
     color: #333333; 
    display: flex;
    /* flex-direction: row; */
    /* width:100vw; */
    
    
}
#section4 div{
    width:50%;
    height: 40vh;
    border: 2px solid transparent;
    color: #ffffff;
    font-size: 1.4em;
    text-align: center;
    padding:40px 20px 40px 20px;
}
#contact{
    background-color: #2690d4;
}
#about{
    background-color:#666
} 
#section4 h2{
    color:white;
}
#contact a{
    color:#ffffff;
    text-decoration: none;
}
#footer{
    display:flex;
    background-color: #000000;
    color:white;
    justify-content: space-between;
    padding: 20px 70px;
    text-transform: capitalize;
    font-size: 1.3em;
}
